@using SecSaudeAH.Models.Login
@model LoginVM

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="auth-box bg-light border-top border-secondary" style="max-width:620px!important">
    <div id="loginform">
        <div class="text-center p-t-10 p-b-10  border-bottom border-success">
            <span class="db">
                <span class="actionsssa">
                    <img src="~/images/Logo/sec-infre-dev.png" width="100%" class="imgss" height="250"  alt="logo" />
                </span>
            </span>
        </div>
        @if (TempData["Erro"] != null)
        {<p class="text-center font-weight-bold text-danger">Usuário ou senha inválidos.</p>}
        <!-- Form -->
        <form class="form-horizontal m-t-20" id="loginform" asp-action="Index" >
            <div class="row p-b-30">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user"></i></span>
                        </div>
                        <input autofocus asp-for="Username" type="text" class="form-control form-control-lg" placeholder="Seu usuário..." aria-label="Username" aria-describedby="basic-addon1" required="">
                        <span asp-validation-for="Username"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-info text-white" id="basic-addon2"><i class="fa fa-lock"></i></span>
                        </div>
                        <input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Sua senha..." aria-label="Password" aria-describedby="basic-addon1">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="input-group mb-3">
                        <a href="@Url.Action("ConfirmarEmail")">Esqueceu sua senha?</a>

                    </div>
                </div>
            </div>
            <div class="row border-top border-success">
                <div class="col-12">
                    <div class="form-group">
                        <div class="p-t-20">
                            <button class="btn btn-success float-right" type="submit">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>