@inject IUser _user;

@{
    ViewData["Title"] = "Início";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover text-white">
            <div class="box bg-cyan text-center">
                <i class="fa fa-users m-b-5 font-16"></i>
                <h5 class="m-b-0 m-t-5">
                    @ViewBag.QtdClientes
                </h5>
                @*<small class="font-light">Total de Pacientes</small>*@
                <small class="font-light">Total de Cidadãos</small>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover text-white">
            <div class="box bg-theme text-center">
                <i class="fa fa-file-alt m-b-5 font-16"></i>
                <h5 class="m-b-0 m-t-5">
                    @ViewBag.QtdNotas
                </h5>
                <small class="font-light">Total de Notas</small>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover text-white">
            <div class="box bg-purple text-center">
                <i class="fa fa-ticket-alt m-b-5 font-16"></i>

                <h5 class="m-b-0 m-t-5">
                    @ViewBag.QtdIngressos
                </h5>
                <small class="font-light">Total de ingressos</small>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover text-white">
            <div class="box bg-info text-center">
                <i class="fa fa-money-bill-alt m-b-5 font-16"></i>
                <h5 class="m-b-0 m-t-5">
                    R$ <span class="valor"> @ViewBag.QtdValor </span>

                </h5>
                <small class="font-light"> Valor acumulado</small>
            </div>
        </div>
    </div>
</div>

@section Scripts{

<script type="text/javascript">

    $('.valor').mask('#.##0,00', { reverse: true });
    var valores = $(".valor")

    $.each(valores, function (key, element) {
        var a = this.classList;
        var texto = $(element).text().replace(" ", ".");
        var first = texto.substring(0, 1) == "." ? true : false
        var valorFinal = first ? texto.substring(1) : texto
        $("." + a[0] + "").text(valorFinal)
    })

</script>

}



